body{
    background-color: #EBEFF9;
}

.card {
    margin-bottom: 12px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0 0 37px rgba(8,21,66,0.05);
    box-shadow: 0 0 37px rgba(8,21,66,0.05);
    border: none !important;
    border-radius: 10px !important;
}

.card .card-body .media-body{
    text-align: left;
}

.card .media i{
    font-size: 60px;
}

@media(max-width: 768px){
    /* .dashboard {
        padding: 20px !important;
    } */
    .card {
        margin-bottom: 15px;
    }
}


/* CSS Table in Question List */
@media(min-width: 768px){
    /* QnA Maker */
    .noQnA {
        max-width: 10%;
        min-width: 10%;
        white-space: nowrap;
        text-align: center;
    }

    .questionQnA {
        max-width: 90%;
        min-width: 90%;
    }


    /* Question List Component */
    .no {
        max-width: 100px;
        white-space: nowrap;
        text-align: center;
    }

    .question {
        max-width: 20%;
        min-width: 20%;
    }

    .answera {
        max-width: 20%;
        min-width: 20%;
    }

    .answerb {
        max-width: 20%;
        min-width: 20%;
    }

    .answerc {
        max-width: 20%;
        min-width: 20%;
    }
    
    .actions {
        max-width: 15%;
        min-width: 15%;
        white-space: nowrap;
    }
}

th.no {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th.actions {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

th.noQnA {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th.questionQnA {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

th {
    background-color: tomato;
    color: white;
    font-weight: normal;
}

th:focus {
    outline: none;
}
